* {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.picture-list {
  list-style-type: none;
}
.pic {
  border: 10px solid #fff;  
  float: left;
  width: 500px;
  height: 375px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 5px #111;
}

.pic img {
  width: 500px;
  height: 375px;
  position: absolute;
}

.apartment {
  float: left;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 10px
}

.apartment-pic {
  width: 100%;
}

.apartment-pic img{
  width: 100%;
}

.apartment-info {
}

.apartment-text {
  padding: 10px 0;
}

.apartment-address {
  font-size: .80em;
}

.city {
  float: left;
}

.name-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.ghost-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: #F2F2F2;
  border: 1px solid white;
  height: 60px;
  width: 200px;
  font-weight: bold;
  font-size: 2em;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  border-radius:         0;
}