* {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
}

.pic {
  border: 10px solid #fff;  
  float: left;
  width: 500px;
  height: 375px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 5px #111;
}

.pic img {
  width: 500px;
  height: 375px;
  position: absolute;
}

.cities {
  float: left;
}

.name-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.ghost-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: #F2F2F2;
  border: 1px solid white;
  height: 60px;
  width: 200px;
  font-weight: bold;
  font-size: 2em;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  border-radius:         0;
}