<div class="container">
  <div class="row">
    <ul class="picture-list">
      <li ng-repeat="apt in apartmentList">
        <div class="col-md-4">
          <div class="apartment">
            <div class="apartment-pic">
              <img ng-src="{{apt.thumbnail}}"/>
              <div class="apartment-info">
                {{apt.floorplan}}
                <br>
                {{apt.price}}
                <br>
                {{apt.contact}}
            </div>
          </div>
            <div class="apartment-text text-nowrap">
              <a href="#">{{apt.title}}</a>
              <div class="apartment-address">
                {{apt.street}}, {{apt.city}}, {{apt.region}} {{apt.zip}} 
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>