<div class="container-fluid">
  <div class="row">
    <div class="apartment-main">
      <div class="col-md-12">
        <h1>{{singleApartment.title}}</h1>
      </div>
      <div class="col-md-12">
        <h3>{{singleApartment.price}}</h3>
      </div>
      <div class="col-md-12">
        <h3>{{singleApartment.street}}, {{singleApartment.city}} {{singleApartment.region}} {{singleApartment.zipcode}}</h3>
      </div>
      <div class="col-md-12">
        <h3>Contact: {{singleApartment.contact}}</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="apartment-description">
      <div class="col-md-12">
        <p>{{singleApartment.description}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="apartment-pics">
        <ul class="picture-list">
          <li ng-repeat="image in singleApartment.images">
            <div class="col-md-4">
              <div class="one-apartment-pic">
                <img ng-src="{{image}}">
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="apartment-special-features">
      <div class="col-md-12">
        <h4>Why choose this apartment:</h4>
        <ul>
          <li ng-repeat="special in singleApartment.specialFeatures">
            {{special}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="apartment-unit-features">
      <div class="col-md-12">
        <h4>Unit Features:</h4>
        <ul>
          <li ng-repeat="feature in singleApartment.features">
            {{feature}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="apartment-community-features">
      <div class="col-md-12">
        <h4>Community Features:</h4>
        <ul>
          <li ng-repeat="commune in singleApartment.communityFeatures">
            {{commune}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>